In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df1 = pd.read_csv('yellow_tripdata_2019-01.csv')

In [18]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [19]:
df1.isnull().sum()

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count                0
trip_distance                  0
RatecodeID                     0
store_and_fwd_flag             0
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     4855978
dtype: int64

In [20]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7667792.0,1.636775,0.539820,1.0,1.00,2.00,2.00,4.00
passenger_count,7667792.0,1.567078,1.224431,0.0,1.00,1.00,2.00,9.00
trip_distance,7667792.0,2.801084,3.737529,0.0,0.90,1.53,2.80,831.80
RatecodeID,7667792.0,1.058371,0.678089,1.0,1.00,1.00,1.00,99.00
PULocationID,7667792.0,165.500918,66.391800,1.0,130.00,162.00,234.00,265.00
DOLocationID,7667792.0,163.752906,70.364452,1.0,113.00,162.00,234.00,265.00
payment_type,7667792.0,1.291776,0.473323,1.0,1.00,1.00,2.00,4.00
fare_amount,7667792.0,12.409409,262.072058,-362.0,6.00,8.50,13.50,623259.86
extra,7667792.0,0.328039,0.507479,-60.0,0.00,0.00,0.50,535.38
mta_tax,7667792.0,0.496846,0.053378,-0.5,0.50,0.50,0.50,60.80
tip_amount,7667792.0,1.827367,2.501213,-63.5,0.00,1.43,2.33,787.25
tolls_amount,7667792.0,0.316919,2.023665,-70.0,0.00,0.00,0.00,3288.00
improvement_surcharge,7667792.0,0.299338,0.019117,-0.3,0.30,0.30,0.30,0.60
total_amount,7667792.0,15.682222,262.293160,-362.8,8.19,11.27,16.56,623261.66
congestion_surcharge,2811814.0,0.000033,0.009069,0.0,0.00,0.00,0.00,2.50

In [21]:
df1.dropna(subset = ["congestion_surcharge"],inplace= True)

In [22]:
df1.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [23]:
df1 = df1[df1.fare_amount>=0]
df1 = df1[df1.extra>=0]
df1 = df1[df1.mta_tax>=0]
df1 = df1[df1.tip_amount>=0]
df1 = df1[df1.tolls_amount>=0]
df1 = df1[df1.improvement_surcharge>=0]
df1 = df1[df1.total_amount>=0]

In [24]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,2809183.0,1.621300,0.504326,1.0,1.0,2.00,2.00,4.00
passenger_count,2809183.0,1.553324,1.218611,0.0,1.0,1.00,2.00,9.00
trip_distance,2809183.0,2.757349,3.704488,0.0,0.9,1.50,2.78,831.80
RatecodeID,2809183.0,1.056254,0.644536,1.0,1.0,1.00,1.00,99.00
PULocationID,2809183.0,166.277770,66.085431,1.0,132.0,162.00,234.00,265.00
DOLocationID,2809183.0,164.546435,70.050569,1.0,113.0,162.00,234.00,265.00
payment_type,2809183.0,1.273010,0.460668,1.0,1.0,1.00,2.00,4.00
fare_amount,2809183.0,12.402967,212.493224,0.0,6.0,9.00,13.50,355676.98
extra,2809183.0,0.336887,0.567669,0.0,0.0,0.00,0.50,535.38
mta_tax,2809183.0,0.497796,0.033134,0.0,0.5,0.50,0.50,2.42
tip_amount,2809183.0,1.882497,2.484214,0.0,0.0,1.46,2.36,444.80
tolls_amount,2809183.0,0.313073,1.564735,0.0,0.0,0.00,0.00,810.50
improvement_surcharge,2809183.0,0.299898,0.005533,0.0,0.3,0.30,0.30,0.30
total_amount,2809183.0,15.738192,212.965094,0.0,8.3,11.30,16.80,356214.78
congestion_surcharge,2809183.0,0.000033,0.009073,0.0,0.0,0.00,0.00,2.50

In [10]:
df2 = pd.read_csv('yellow_tripdata_2019-02.csv')
df3 = pd.read_csv('yellow_tripdata_2019-03.csv')
df4 = pd.read_csv('yellow_tripdata_2019-04.csv')

In [11]:
df2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,0.0
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,0.0
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,0.0
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,0.0

In [12]:
df2.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [13]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7019375.0,1.636639,0.524861,1.00,1.00,2.00,2.00,4.00
passenger_count,7019375.0,1.571420,1.228251,0.00,1.00,1.00,2.00,9.00
trip_distance,7019375.0,2.884923,3.780133,0.00,0.94,1.60,2.91,701.50
RatecodeID,7019375.0,1.061126,0.637502,1.00,1.00,1.00,1.00,99.00
PULocationID,7019375.0,163.509255,65.943774,1.00,114.00,162.00,233.00,265.00
DOLocationID,7019375.0,161.803245,70.078660,1.00,112.00,162.00,234.00,265.00
payment_type,7019375.0,1.269927,0.466612,1.00,1.00,1.00,2.00,4.00
fare_amount,7019375.0,12.746706,255.914870,-400.00,6.50,9.00,14.00,671123.14
extra,7019375.0,1.157935,1.268855,-4.50,0.00,0.50,2.50,18.50
mta_tax,7019375.0,0.495960,0.052404,-0.50,0.50,0.50,0.50,24.39
tip_amount,7019375.0,2.163211,2.634801,-62.00,0.00,1.86,2.86,499.69
tolls_amount,7019375.0,0.341730,1.673112,-26.26,0.00,0.00,0.00,771.52
improvement_surcharge,7019375.0,0.299079,0.022793,-0.30,0.30,0.30,0.30,1.00
total_amount,7019375.0,18.556848,256.042850,-400.80,11.00,14.16,19.80,671124.94
congestion_surcharge,7019375.0,2.174607,0.846427,-2.50,2.50,2.50,2.50,2.75

In [25]:
df2 = df2[df2.fare_amount>=0]
df2 = df2[df2.extra>=0]
df2 = df2[df2.mta_tax>=0]
df2 = df2[df2.tip_amount>=0]
df2 = df2[df2.tolls_amount>=0]
df2 = df2[df2.improvement_surcharge>=0]
df2 = df2[df2.total_amount>=0]

In [26]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7009559.0,1.636131,0.525052,1.0,1.00,2.00,2.00,4.00
passenger_count,7009559.0,1.571361,1.228252,0.0,1.00,1.00,2.00,9.00
trip_distance,7009559.0,2.887618,3.780927,0.0,0.94,1.60,2.91,701.50
RatecodeID,7009559.0,1.060697,0.621949,1.0,1.00,1.00,1.00,99.00
PULocationID,7009559.0,163.512367,65.938385,1.0,114.00,162.00,233.00,265.00
DOLocationID,7009559.0,161.810364,70.078786,1.0,112.00,162.00,234.00,265.00
payment_type,7009559.0,1.267117,0.460254,1.0,1.00,1.00,2.00,4.00
fare_amount,7009559.0,12.776010,256.092098,0.0,6.50,9.00,14.00,671123.14
extra,7009559.0,1.160113,1.268215,0.0,0.00,0.50,2.50,18.50
mta_tax,7009559.0,0.497284,0.037951,0.0,0.50,0.50,0.50,24.39
tip_amount,7009559.0,2.166237,2.635004,0.0,0.00,1.86,2.86,499.69
tolls_amount,7009559.0,0.342324,1.673865,0.0,0.00,0.00,0.00,771.52
improvement_surcharge,7009559.0,0.299900,0.005589,0.0,0.30,0.30,0.30,1.00
total_amount,7009559.0,18.598202,256.218923,0.0,11.00,14.16,19.80,671124.94
congestion_surcharge,7009559.0,2.179305,0.835991,0.0,2.50,2.50,2.50,2.75

In [28]:
df3.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-03-01 00:24:41,2019-03-01 00:25:31,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.00,0.3,3.80,0.0
1,1,2019-03-01 00:25:27,2019-03-01 00:36:37,2,3.7,1,N,95,130,1,13.0,0.5,0.5,0.7,0.00,0.3,15.00,0.0
2,1,2019-03-01 00:05:21,2019-03-01 00:38:23,1,14.1,1,N,249,28,1,41.0,3.0,0.5,10.1,5.76,0.3,60.66,2.5
3,1,2019-03-01 00:48:55,2019-03-01 01:06:03,1,9.6,1,N,138,98,2,27.0,0.5,0.5,0.0,0.00,0.3,28.30,0.0
4,1,2019-03-01 00:11:42,2019-03-01 00:16:40,1,0.8,1,N,48,48,1,5.5,3.0,0.5,3.0,0.00,0.3,12.30,2.5

In [29]:
df3.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [30]:
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7832545.0,1.636294,0.513368,1.00,1.00,2.00,2.00,4.00
passenger_count,7832545.0,1.575179,1.228348,0.00,1.00,1.00,2.00,9.00
trip_distance,7832545.0,2.991058,3.890174,0.00,0.97,1.61,3.05,237.17
RatecodeID,7832545.0,1.066853,0.698237,1.00,1.00,1.00,1.00,99.00
PULocationID,7832545.0,161.991992,65.875394,1.00,114.00,161.00,231.00,265.00
DOLocationID,7832545.0,160.275596,70.236284,1.00,107.00,162.00,233.00,265.00
payment_type,7832545.0,1.278309,0.471327,1.00,1.00,1.00,2.00,5.00
fare_amount,7832545.0,13.179200,346.829122,-447.00,6.50,9.50,14.50,943274.80
extra,7832545.0,1.203193,1.284208,-57.50,0.00,0.50,2.50,24.66
mta_tax,7832545.0,0.495539,0.069060,-0.50,0.50,0.50,0.50,75.00
tip_amount,7832545.0,2.231696,50.630924,-89.89,0.00,1.95,2.95,141492.02
tolls_amount,7832545.0,0.364951,1.677116,-25.00,0.00,0.00,0.00,805.76
improvement_surcharge,7832545.0,0.298971,0.024049,-0.30,0.30,0.30,0.30,1.00
total_amount,7832545.0,19.191066,396.227484,-450.30,11.16,14.75,20.30,1084772.17
congestion_surcharge,7832545.0,2.281122,0.714587,-2.50,2.50,2.50,2.50,4.50

In [31]:
df3 = df3[df3.fare_amount>=0]
df3 = df3[df3.extra>=0]
df3 = df3[df3.mta_tax>=0]
df3 = df3[df3.tip_amount>=0]
df3 = df3[df3.tolls_amount>=0]
df3 = df3[df3.improvement_surcharge>=0]
df3 = df3[df3.total_amount>=0]
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7820495.0,1.635734,0.513565,1.0,1.00,2.00,2.00,4.00
passenger_count,7820495.0,1.575114,1.228352,0.0,1.00,1.00,2.00,9.00
trip_distance,7820495.0,2.994122,3.891183,0.0,0.98,1.62,3.05,237.17
RatecodeID,7820495.0,1.066583,0.692850,1.0,1.00,1.00,1.00,99.00
PULocationID,7820495.0,161.996154,65.870877,1.0,114.00,161.00,231.00,265.00
DOLocationID,7820495.0,160.272769,70.234801,1.0,107.00,162.00,233.00,265.00
payment_type,7820495.0,1.275188,0.464279,1.0,1.00,1.00,2.00,5.00
fare_amount,7820495.0,13.213410,347.094500,0.0,6.50,9.50,14.50,943274.80
extra,7820495.0,1.205662,1.283084,0.0,0.00,0.50,2.50,24.66
mta_tax,7820495.0,0.497000,0.047633,0.0,0.50,0.50,0.50,75.00
tip_amount,7820495.0,2.235180,50.669783,0.0,0.00,1.95,2.96,141492.02
tolls_amount,7820495.0,0.365655,1.677923,0.0,0.00,0.00,0.00,805.76
improvement_surcharge,7820495.0,0.299881,0.006003,0.0,0.30,0.30,0.30,1.00
total_amount,7820495.0,19.239098,396.530153,0.0,11.27,14.75,20.35,1084772.17
congestion_surcharge,7820495.0,2.286827,0.698187,0.0,2.50,2.50,2.50,4.50

In [32]:
df4.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-04-01 00:04:09,2019-04-01 00:06:35,1,0.5,1,N,239,239,1,4.0,3.0,0.5,1.00,0.0,0.3,8.80,2.5
1,1,2019-04-01 00:22:45,2019-04-01 00:25:43,1,0.7,1,N,230,100,2,4.5,3.0,0.5,0.00,0.0,0.3,8.30,2.5
2,1,2019-04-01 00:39:48,2019-04-01 01:19:39,1,10.9,1,N,68,127,1,36.0,3.0,0.5,7.95,0.0,0.3,47.75,2.5
3,1,2019-04-01 00:35:32,2019-04-01 00:37:11,1,0.2,1,N,68,68,2,3.5,3.0,0.5,0.00,0.0,0.3,7.30,2.5
4,1,2019-04-01 00:44:05,2019-04-01 00:57:58,1,4.8,1,N,50,42,1,15.5,3.0,0.5,3.85,0.0,0.3,23.15,2.5

In [33]:
df4.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [34]:
df4.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7433139.0,1.636259,0.507108,1.00,1.0,2.00,2.00,4.00
passenger_count,7433139.0,1.573301,1.224597,0.00,1.0,1.00,2.00,9.00
trip_distance,7433139.0,2.998019,3.908213,0.00,1.0,1.64,3.05,830.90
RatecodeID,7433139.0,1.057416,0.703754,1.00,1.0,1.00,1.00,99.00
PULocationID,7433139.0,163.367204,66.156637,1.00,116.0,162.00,233.00,265.00
DOLocationID,7433139.0,161.534559,70.379452,1.00,107.0,162.00,234.00,265.00
payment_type,7433139.0,1.288608,0.476180,1.00,1.0,1.00,2.00,4.00
fare_amount,7433139.0,13.194330,145.719873,-450.08,6.5,9.50,14.50,395839.94
extra,7433139.0,1.212602,1.288626,-24.60,0.0,0.50,2.50,20.00
mta_tax,7433139.0,0.495736,0.054829,-0.50,0.5,0.50,0.50,27.45
tip_amount,7433139.0,2.212688,2.772410,-88.00,0.0,1.95,2.96,440.80
tolls_amount,7433139.0,0.382120,1.718031,-23.00,0.0,0.00,0.00,812.59
improvement_surcharge,7433139.0,0.298896,0.024865,-0.30,0.3,0.30,0.30,1.00
total_amount,7433139.0,19.229813,145.968439,-450.88,11.3,14.76,20.75,395841.24
congestion_surcharge,7433139.0,2.291299,0.701721,-2.50,2.5,2.50,2.50,2.75

In [36]:
df4 = df4[df4.fare_amount>=0]
df4 = df4[df4.extra>=0]
df4 = df4[df4.mta_tax>=0]
df4 = df4[df4.tip_amount>=0]
df4 = df4[df4.tolls_amount>=0]
df4 = df4[df4.improvement_surcharge>=0]
df4 = df4[df4.total_amount>=0]
df4.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7421225.0,1.635676,0.507305,1.0,1.0,2.00,2.00,4.00
passenger_count,7421225.0,1.573194,1.224555,0.0,1.0,1.00,2.00,9.00
trip_distance,7421225.0,3.001184,3.909175,0.0,1.0,1.65,3.05,830.90
RatecodeID,7421225.0,1.057185,0.703663,1.0,1.0,1.00,1.00,99.00
PULocationID,7421225.0,163.371359,66.152273,1.0,116.0,162.00,233.00,265.00
DOLocationID,7421225.0,161.530847,70.376616,1.0,107.0,162.00,234.00,265.00
payment_type,7421225.0,1.285346,0.468926,1.0,1.0,1.00,2.00,4.00
fare_amount,7421225.0,13.231540,145.832083,0.0,6.5,9.50,14.50,395839.94
extra,7421225.0,1.215162,1.287825,0.0,0.0,0.50,2.50,20.00
mta_tax,7421225.0,0.497309,0.036752,0.0,0.5,0.50,0.50,3.30
tip_amount,7421225.0,2.216272,2.772509,0.0,0.0,1.95,2.96,440.80
tolls_amount,7421225.0,0.382932,1.718825,0.0,0.0,0.00,0.00,812.59
improvement_surcharge,7421225.0,0.299857,0.006555,0.0,0.3,0.30,0.30,1.00
total_amount,7421225.0,19.281695,146.078005,0.0,11.3,14.76,20.76,395841.24
congestion_surcharge,7421225.0,2.297823,0.681589,0.0,2.5,2.50,2.50,2.75

In [37]:
df5 = pd.read_csv('yellow_tripdata_2019-05.csv')
df6 = pd.read_csv('yellow_tripdata_2019-06.csv')
df7 = pd.read_csv('yellow_tripdata_2019-07.csv')
df8 = pd.read_csv('yellow_tripdata_2019-08.csv')

C:\Users\KritiBhardwaj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [38]:
df5.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-05-01 00:14:50,2019-05-01 00:16:48,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
1,1,2019-05-01 00:35:54,2019-05-01 00:37:27,1,1.5,1,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
2,1,2019-05-01 00:37:45,2019-05-01 00:37:49,1,1.5,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1,2019-05-01 00:44:57,2019-05-01 00:50:11,1,0.7,1,N,161,161,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
4,1,2019-05-01 00:59:48,2019-05-01 01:10:22,1,2.0,1,N,163,141,1,9.5,3.0,0.5,2.0,0.0,0.3,15.3,2.5

In [39]:
df5.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [40]:
df5.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7565261.0,1.640188,0.502813,1.0,1.0,2.00,2.0,4.00
passenger_count,7565261.0,1.569429,1.220021,0.0,1.0,1.00,2.0,9.00
trip_distance,7565261.0,3.032936,3.944314,0.0,1.0,1.65,3.1,401.40
RatecodeID,7565261.0,1.055399,0.683969,1.0,1.0,1.00,1.0,99.00
PULocationID,7565261.0,163.396135,66.179834,1.0,125.0,162.00,233.0,265.00
DOLocationID,7565261.0,161.817161,70.252175,1.0,113.0,162.00,234.0,265.00
payment_type,7565261.0,1.288196,0.477429,1.0,1.0,1.00,2.0,4.00
fare_amount,7565261.0,13.443221,12.548973,-375.0,6.5,9.50,15.0,4016.50
extra,7565261.0,1.187887,1.282190,-5.5,0.0,0.50,2.5,23.00
mta_tax,7565261.0,0.495463,0.056024,-0.5,0.5,0.50,0.5,3.30
tip_amount,7565261.0,2.258855,2.837838,-82.6,0.0,1.95,3.0,444.00
tolls_amount,7565261.0,0.401998,1.778192,-20.0,0.0,0.00,0.0,921.06
improvement_surcharge,7565261.0,0.298721,0.026592,-0.3,0.3,0.30,0.3,0.30
total_amount,7565261.0,19.532242,15.339097,-378.3,11.3,14.80,21.0,4020.30
congestion_surcharge,7565261.0,2.286445,0.710191,-2.5,2.5,2.50,2.5,2.75

In [41]:
df5 = df5[df5.fare_amount>=0]
df5 = df5[df5.extra>=0]
df5 = df5[df5.mta_tax>=0]
df5 = df5[df5.tip_amount>=0]
df5 = df5[df5.tolls_amount>=0]
df5 = df5[df5.improvement_surcharge>=0]
df5 = df5[df5.total_amount>=0]
df5.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7551589.0,1.639537,0.503034,1.0,1.0,2.00,2.0,4.00
passenger_count,7551589.0,1.569370,1.220051,0.0,1.0,1.00,2.0,9.00
trip_distance,7551589.0,3.036361,3.945143,0.0,1.0,1.66,3.1,401.40
RatecodeID,7551589.0,1.055089,0.683834,1.0,1.0,1.00,1.0,99.00
PULocationID,7551589.0,163.401439,66.176217,1.0,125.0,162.00,233.0,265.00
DOLocationID,7551589.0,161.813562,70.250180,1.0,113.0,162.00,234.0,265.00
payment_type,7551589.0,1.284562,0.469394,1.0,1.0,1.00,2.0,4.00
fare_amount,7551589.0,13.489308,12.486903,0.0,6.5,9.50,15.0,4016.50
extra,7551589.0,1.190702,1.281341,0.0,0.0,0.50,2.5,23.00
mta_tax,7551589.0,0.497241,0.037187,0.0,0.5,0.50,0.5,3.30
tip_amount,7551589.0,2.263009,2.838184,0.0,0.0,1.95,3.0,444.00
tolls_amount,7551589.0,0.402961,1.779169,0.0,0.0,0.00,0.0,921.06
improvement_surcharge,7551589.0,0.299805,0.007642,0.0,0.3,0.30,0.3,0.30
total_amount,7551589.0,19.594972,15.259411,0.0,11.3,14.80,21.0,4020.30
congestion_surcharge,7551589.0,2.293811,0.687707,0.0,2.5,2.50,2.5,2.75

In [43]:
df6.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [45]:
df6.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [48]:
df6.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6927014.0,1.641823,0.502123,1.0,1.0,2.00,2.00,4.00
passenger_count,6927014.0,1.567293,1.210915,0.0,1.0,1.00,2.00,9.00
trip_distance,6927014.0,3.082178,17.917852,0.0,1.0,1.69,3.14,45977.22
RatecodeID,6927014.0,1.059103,0.735053,1.0,1.0,1.00,1.00,99.00
PULocationID,6927014.0,162.306433,66.380760,1.0,114.0,161.00,233.00,265.00
DOLocationID,6927014.0,160.814256,70.462014,1.0,107.0,162.00,233.00,265.00
payment_type,6927014.0,1.287958,0.471928,1.0,1.0,1.00,2.00,4.00
fare_amount,6927014.0,13.715081,132.456228,0.0,6.5,9.50,15.00,346949.99
extra,6927014.0,1.167732,1.274470,0.0,0.0,0.50,2.50,84.76
mta_tax,6927014.0,0.496985,0.089937,0.0,0.5,0.50,0.50,212.42
tip_amount,6927014.0,2.270616,2.962774,0.0,0.0,1.95,3.00,1624.64
tolls_amount,6927014.0,0.407292,1.798493,0.0,0.0,0.00,0.00,823.00
improvement_surcharge,6927014.0,0.299696,0.009549,0.0,0.3,0.30,0.30,0.30
total_amount,6927014.0,19.810885,132.802358,0.0,11.3,14.80,21.30,347035.05
congestion_surcharge,6927014.0,2.282759,0.704203,0.0,2.5,2.50,2.50,2.75

In [47]:
df6 = df6[df6.fare_amount>=0]
df6 = df6[df6.extra>=0]
df6 = df6[df6.mta_tax>=0]
df6 = df6[df6.tip_amount>=0]
df6 = df6[df6.tolls_amount>=0]
df6 = df6[df6.improvement_surcharge>=0]
df6 = df6[df6.total_amount>=0]
df6.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6927014.0,1.641823,0.502123,1.0,1.0,2.00,2.00,4.00
passenger_count,6927014.0,1.567293,1.210915,0.0,1.0,1.00,2.00,9.00
trip_distance,6927014.0,3.082178,17.917852,0.0,1.0,1.69,3.14,45977.22
RatecodeID,6927014.0,1.059103,0.735053,1.0,1.0,1.00,1.00,99.00
PULocationID,6927014.0,162.306433,66.380760,1.0,114.0,161.00,233.00,265.00
DOLocationID,6927014.0,160.814256,70.462014,1.0,107.0,162.00,233.00,265.00
payment_type,6927014.0,1.287958,0.471928,1.0,1.0,1.00,2.00,4.00
fare_amount,6927014.0,13.715081,132.456228,0.0,6.5,9.50,15.00,346949.99
extra,6927014.0,1.167732,1.274470,0.0,0.0,0.50,2.50,84.76
mta_tax,6927014.0,0.496985,0.089937,0.0,0.5,0.50,0.50,212.42
tip_amount,6927014.0,2.270616,2.962774,0.0,0.0,1.95,3.00,1624.64
tolls_amount,6927014.0,0.407292,1.798493,0.0,0.0,0.00,0.00,823.00
improvement_surcharge,6927014.0,0.299696,0.009549,0.0,0.3,0.30,0.30,0.30
total_amount,6927014.0,19.810885,132.802358,0.0,11.3,14.80,21.30,347035.05
congestion_surcharge,6927014.0,2.282759,0.704203,0.0,2.5,2.50,2.50,2.75

In [44]:
df7.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,1.0,N,193,193,1.0,2.5,0.5,0.5,1.14,0.00,0.3,4.94,0.0
1,2.0,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,1.0,N,234,25,2.0,16.5,0.5,0.5,0.00,0.00,0.3,20.30,2.5
2,1.0,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,2.0,N,132,42,1.0,52.0,0.0,0.5,11.75,6.12,0.3,70.67,0.0
3,2.0,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,2.0,N,132,142,1.0,52.0,0.0,0.5,11.06,0.00,0.3,66.36,2.5
4,1.0,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,1.0,N,107,114,1.0,9.5,3.0,0.5,2.00,0.00,0.3,15.30,2.5

In [49]:
df7.isnull().sum()

VendorID                 33959
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          33959
trip_distance                0
RatecodeID               33959
store_and_fwd_flag       33959
PULocationID                 0
DOLocationID                 0
payment_type             33959
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [50]:
df7.dropna(subset = ["VendorID"],inplace= True)
df7.dropna(subset = ["passenger_count"],inplace= True)
df7.dropna(subset = ["RatecodeID"],inplace= True)
df7.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df7.dropna(subset = ["payment_type"],inplace= True)

In [51]:
df7.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [52]:
df7.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6276460.0,1.647390,0.488162,1.00,1.0,2.00,2.00,4.00
passenger_count,6276460.0,1.572045,1.214311,0.00,1.0,1.00,2.00,9.00
trip_distance,6276460.0,3.070979,4.021044,0.00,1.0,1.67,3.12,311.56
RatecodeID,6276460.0,1.061235,0.749586,1.00,1.0,1.00,1.00,99.00
PULocationID,6276460.0,161.781288,65.586465,1.00,114.0,161.00,231.00,265.00
DOLocationID,6276460.0,159.942917,70.043242,1.00,107.0,162.00,232.00,265.00
payment_type,6276460.0,1.305580,0.487784,1.00,1.0,1.00,2.00,4.00
fare_amount,6276460.0,13.486902,13.005791,-450.00,6.5,9.50,15.00,6666.65
extra,6276460.0,1.156179,1.273794,-7.00,0.0,0.50,2.50,18.50
mta_tax,6276460.0,0.494774,0.060292,-0.50,0.5,0.50,0.50,6.80
tip_amount,6276460.0,2.195290,2.878196,-221.00,0.0,1.86,2.95,419.56
tolls_amount,6276460.0,0.395568,1.873907,-33.24,0.0,0.00,0.00,1559.12
improvement_surcharge,6276460.0,0.298438,0.029094,-0.30,0.3,0.30,0.30,0.30
total_amount,6276460.0,19.491764,15.728885,-450.80,11.3,14.76,20.80,6667.45
congestion_surcharge,6276460.0,2.272253,0.732960,-2.50,2.5,2.50,2.50,2.75

In [53]:
df7 = df7[df7.fare_amount>=0]
df7 = df7[df7.extra>=0]
df7 = df7[df7.mta_tax>=0]
df7 = df7[df7.tip_amount>=0]
df7 = df7[df7.tolls_amount>=0]
df7 = df7[df7.improvement_surcharge>=0]
df7 = df7[df7.total_amount>=0]
df7.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6263184.0,1.646644,0.488408,1.0,1.0,2.00,2.00,4.00
passenger_count,6263184.0,1.572036,1.214443,0.0,1.0,1.00,2.00,9.00
trip_distance,6263184.0,3.074649,4.021884,0.0,1.0,1.67,3.13,311.56
RatecodeID,6263184.0,1.060929,0.749652,1.0,1.0,1.00,1.00,99.00
PULocationID,6263184.0,161.784551,65.582303,1.0,114.0,161.00,231.00,265.00
DOLocationID,6263184.0,159.936703,70.040105,1.0,107.0,162.00,232.00,265.00
payment_type,6263184.0,1.301337,0.478518,1.0,1.0,1.00,2.00,4.00
fare_amount,6263184.0,13.541279,12.932865,0.0,6.5,9.50,15.00,6666.65
extra,6263184.0,1.159433,1.272841,0.0,0.0,0.50,2.50,18.50
mta_tax,6263184.0,0.496855,0.039676,0.0,0.5,0.50,0.50,3.30
tip_amount,6263184.0,2.200021,2.877377,0.0,0.0,1.86,2.96,419.56
tolls_amount,6263184.0,0.396753,1.874937,0.0,0.0,0.00,0.00,1559.12
improvement_surcharge,6263184.0,0.299706,0.009395,0.0,0.3,0.30,0.30,0.30
total_amount,6263184.0,19.565725,15.635018,0.0,11.3,14.76,20.80,6667.45
congestion_surcharge,6263184.0,2.281026,0.706732,0.0,2.5,2.50,2.50,2.75

In [54]:
df8.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-08-01 00:09:46,2019-08-01 00:10:36,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
1,1.0,2019-08-01 00:30:47,2019-08-01 00:31:39,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
2,1.0,2019-08-01 00:44:50,2019-08-01 00:46:32,1.0,7.1,1.0,N,145,145,2.0,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
3,1.0,2019-08-01 00:57:16,2019-08-01 00:58:20,1.0,0.0,1.0,N,145,145,2.0,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
4,1.0,2019-08-01 00:59:18,2019-08-01 01:04:13,1.0,0.0,1.0,N,145,145,2.0,4.5,0.5,0.5,0.0,0.0,0.3,5.8,0.0

In [55]:
df8.isnull().sum()

VendorID                 33321
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          33321
trip_distance                0
RatecodeID               33321
store_and_fwd_flag       33321
PULocationID                 0
DOLocationID                 0
payment_type             33321
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [56]:
df8.dropna(subset = ["VendorID"],inplace= True)
df8.dropna(subset = ["passenger_count"],inplace= True)
df8.dropna(subset = ["RatecodeID"],inplace= True)
df8.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df8.dropna(subset = ["payment_type"],inplace= True)

In [58]:
df8.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [59]:
df8.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6040036.0,1.644728,0.478881,1.00,1.0,2.00,2.00,4.00
passenger_count,6040036.0,1.573908,1.213185,0.00,1.0,1.00,2.00,9.00
trip_distance,6040036.0,3.124045,4.081862,0.00,1.0,1.70,3.20,601.60
RatecodeID,6040036.0,1.064386,0.789487,1.00,1.0,1.00,1.00,99.00
PULocationID,6040036.0,161.292200,65.490965,1.00,114.0,161.00,231.00,265.00
DOLocationID,6040036.0,159.344368,70.151891,1.00,107.0,162.00,231.00,265.00
payment_type,6040036.0,1.313143,0.492777,1.00,1.0,1.00,2.00,5.00
fare_amount,6040036.0,13.563707,167.743846,-1856.00,6.5,9.50,15.00,411042.01
extra,6040036.0,1.152279,1.272700,-21.22,0.0,0.50,2.50,62.50
mta_tax,6040036.0,0.494252,0.064390,-0.50,0.5,0.50,0.50,24.52
tip_amount,6040036.0,2.178389,2.964339,-170.00,0.0,1.86,2.95,537.00
tolls_amount,6040036.0,0.410283,1.913489,-31.62,0.0,0.00,0.00,900.88
improvement_surcharge,6040036.0,0.298247,0.031045,-0.30,0.3,0.30,0.30,0.30
total_amount,6040036.0,19.557534,167.979968,-1871.80,11.3,14.76,20.80,411042.81
congestion_surcharge,6040036.0,2.266410,0.743246,-2.50,2.5,2.50,2.50,2.75

In [60]:
df8 = df8[df8.fare_amount>=0]
df8 = df8[df8.extra>=0]
df8 = df8[df8.mta_tax>=0]
df8 = df8[df8.tip_amount>=0]
df8 = df8[df8.tolls_amount>=0]
df8 = df8[df8.improvement_surcharge>=0]
df8 = df8[df8.total_amount>=0]
df8.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6025234.0,1.643856,0.479144,1.0,1.0,2.00,2.00,4.00
passenger_count,6025234.0,1.573908,1.213352,0.0,1.0,1.00,2.00,9.00
trip_distance,6025234.0,3.127756,4.082471,0.0,1.0,1.70,3.20,601.60
RatecodeID,6025234.0,1.064111,0.789815,1.0,1.0,1.00,1.00,99.00
PULocationID,6025234.0,161.294721,65.487214,1.0,114.0,161.00,231.00,265.00
DOLocationID,6025234.0,159.338497,70.148905,1.0,107.0,162.00,231.00,265.00
payment_type,6025234.0,1.308263,0.482205,1.0,1.0,1.00,2.00,5.00
fare_amount,6025234.0,13.627361,167.940776,0.0,6.5,9.50,15.00,411042.01
extra,6025234.0,1.156035,1.271600,0.0,0.0,0.50,2.50,62.50
mta_tax,6025234.0,0.496665,0.040795,0.0,0.5,0.50,0.50,3.30
tip_amount,6025234.0,2.183826,2.964405,0.0,0.0,1.86,2.95,537.00
tolls_amount,6025234.0,0.411759,1.914563,0.0,0.0,0.00,0.00,900.88
improvement_surcharge,6025234.0,0.299716,0.009229,0.0,0.3,0.30,0.30,0.30
total_amount,6025234.0,19.643941,168.172890,0.0,11.3,14.76,20.80,411042.81
congestion_surcharge,6025234.0,2.276592,0.713161,0.0,2.5,2.50,2.50,2.75

In [61]:
df9 = pd.read_csv('yellow_tripdata_2019-09.csv')
df10 = pd.read_csv('yellow_tripdata_2019-10.csv')
df11 = pd.read_csv('yellow_tripdata_2019-11.csv')
df12 = pd.read_csv('yellow_tripdata_2019-12.csv')

C:\Users\KritiBhardwaj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [64]:
df9.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-09-01 00:06:48,2019-09-01 00:25:46,1.0,2.0,1.0,N,186,161,2.0,13.0,3.0,0.5,0.0,0.0,0.3,16.8,2.5
1,1.0,2019-09-01 00:29:17,2019-09-01 00:57:54,1.0,5.5,1.0,N,161,256,2.0,22.5,3.0,0.5,0.0,0.0,0.3,26.3,2.5
2,1.0,2019-09-01 00:41:32,2019-09-01 00:41:36,1.0,2.9,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1.0,2019-09-01 00:59:11,2019-09-01 00:59:15,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
4,1.0,2019-09-01 00:39:41,2019-09-01 00:45:06,1.0,1.5,1.0,N,95,93,2.0,7.0,0.5,0.5,0.0,0.0,0.3,8.3,0.0

In [65]:
df9.isnull().sum()

VendorID                 34089
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          34089
trip_distance                0
RatecodeID               34089
store_and_fwd_flag       34089
PULocationID                 0
DOLocationID                 0
payment_type             34089
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         1
dtype: int64

In [67]:
df9.dropna(subset = ["VendorID"],inplace= True)
df9.dropna(subset = ["passenger_count"],inplace= True)
df9.dropna(subset = ["RatecodeID"],inplace= True)
df9.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df9.dropna(subset = ["payment_type"],inplace= True)
df9.dropna(subset = ["congestion_surcharge"],inplace= True)
df9.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [68]:
df9.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6533698.0,1.648833,0.477360,1.00,1.00,2.00,2.00,4.00
passenger_count,6533698.0,1.549407,1.192190,0.00,1.00,1.00,2.00,9.00
trip_distance,6533698.0,3.050830,3.996111,0.00,1.00,1.67,3.10,603.50
RatecodeID,6533698.0,1.064147,0.840010,1.00,1.00,1.00,1.00,99.00
PULocationID,6533698.0,163.025205,66.135905,1.00,114.00,162.00,233.00,265.00
DOLocationID,6533698.0,161.285180,70.446940,1.00,107.00,162.00,234.00,265.00
payment_type,6533698.0,1.287302,0.480756,1.00,1.00,1.00,2.00,4.00
fare_amount,6533698.0,13.699369,60.659532,-530.00,6.50,9.50,15.50,150998.39
extra,6533698.0,1.142374,1.268371,-7.50,0.00,0.50,2.50,32.50
mta_tax,6533698.0,0.494390,0.063472,-0.50,0.50,0.50,0.50,15.55
tip_amount,6533698.0,2.289411,2.940493,-80.08,0.00,1.96,3.00,496.20
tolls_amount,6533698.0,0.399430,1.840281,-40.00,0.00,0.00,0.00,900.09
improvement_surcharge,6533698.0,0.298342,0.030475,-0.30,0.30,0.30,0.30,1.00
total_amount,6533698.0,19.808008,61.323984,-530.80,11.44,14.98,21.36,151007.81
congestion_surcharge,6533698.0,2.287081,0.714120,-2.50,2.50,2.50,2.50,2.75

In [69]:
df9 = df9[df9.fare_amount>=0]
df9 = df9[df9.extra>=0]
df9 = df9[df9.mta_tax>=0]
df9 = df9[df9.tip_amount>=0]
df9 = df9[df9.tolls_amount>=0]
df9 = df9[df9.improvement_surcharge>=0]
df9 = df9[df9.total_amount>=0]
df9.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6517945.0,1.647985,0.477624,1.0,1.0,2.00,2.00,4.00
passenger_count,6517945.0,1.549473,1.192395,0.0,1.0,1.00,2.00,9.00
trip_distance,6517945.0,3.054490,3.996869,0.0,1.0,1.68,3.10,603.50
RatecodeID,6517945.0,1.063877,0.840439,1.0,1.0,1.00,1.00,99.00
PULocationID,6517945.0,163.029345,66.133113,1.0,114.0,162.00,233.00,265.00
DOLocationID,6517945.0,161.283186,70.445196,1.0,107.0,162.00,234.00,265.00
payment_type,6517945.0,1.282464,0.469895,1.0,1.0,1.00,2.00,4.00
fare_amount,6517945.0,13.762461,60.711880,0.0,6.5,9.50,15.50,150998.39
extra,6517945.0,1.145992,1.267430,0.0,0.0,0.50,2.50,32.50
mta_tax,6517945.0,0.496762,0.040826,0.0,0.5,0.50,0.50,15.55
tip_amount,6517945.0,2.294987,2.941208,0.0,0.0,1.96,3.00,496.20
tolls_amount,6517945.0,0.400817,1.841161,0.0,0.0,0.00,0.00,900.09
improvement_surcharge,6517945.0,0.299787,0.008015,0.0,0.3,0.30,0.30,1.00
total_amount,6517945.0,19.893705,61.365725,0.0,11.6,15.10,21.36,151007.81
congestion_surcharge,6517945.0,2.297221,0.682512,0.0,2.5,2.50,2.50,2.75

In [70]:
df10.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-10-01 00:19:55,2019-10-01 00:23:57,1.0,0.4,1.0,N,48,163,2.0,4.5,3.0,0.5,0.0,0.0,0.3,8.3,2.5
1,1.0,2019-10-01 00:40:19,2019-10-01 00:55:17,2.0,4.3,1.0,N,144,141,1.0,14.5,3.0,0.5,2.0,0.0,0.3,20.3,2.5
2,1.0,2019-10-01 00:06:52,2019-10-01 00:21:23,1.0,5.0,1.0,N,137,80,1.0,17.0,3.0,0.5,5.2,0.0,0.3,26.0,2.5
3,2.0,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,4.0,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,0.0
4,2.0,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0

In [71]:
df10.isnull().sum()

VendorID                 46723
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          46723
trip_distance                0
RatecodeID               46723
store_and_fwd_flag       46723
PULocationID                 0
DOLocationID                 0
payment_type             46723
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [72]:
df10.dropna(subset = ["VendorID"],inplace= True)
df10.dropna(subset = ["passenger_count"],inplace= True)
df10.dropna(subset = ["RatecodeID"],inplace= True)
df10.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df10.dropna(subset = ["payment_type"],inplace= True)
df10.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [73]:
df10.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7167168.0,1.653885,0.475730,1.00,1.00,2.00,2.0,2.00
passenger_count,7167168.0,1.538858,1.178510,0.00,1.00,1.00,2.0,9.00
trip_distance,7167168.0,2.976009,3.893460,0.00,0.99,1.63,3.0,307.95
RatecodeID,7167168.0,1.062221,0.838042,1.00,1.00,1.00,1.0,99.00
PULocationID,7167168.0,164.066546,65.636804,1.00,132.00,162.00,233.0,265.00
DOLocationID,7167168.0,162.155138,69.881614,1.00,113.00,162.00,234.0,265.00
payment_type,7167168.0,1.282807,0.478468,1.00,1.00,1.00,2.0,4.00
fare_amount,7167168.0,13.502349,12.315771,-400.00,6.50,9.50,15.0,2154.50
extra,7167168.0,1.141920,1.267562,-16.62,0.00,0.50,2.5,62.50
mta_tax,7167168.0,0.494438,0.067463,-0.50,0.50,0.50,0.5,60.00
tip_amount,7167168.0,2.295663,2.885654,-115.54,0.00,1.96,3.0,600.00
tolls_amount,7167168.0,0.387570,1.917553,-27.74,0.00,0.00,0.0,912.50
improvement_surcharge,7167168.0,0.298307,0.030977,-0.30,0.30,0.30,0.3,0.30
total_amount,7167168.0,19.624916,15.194872,-400.30,11.75,15.30,21.3,2155.80
congestion_surcharge,7167168.0,2.301280,0.694327,-2.50,2.50,2.50,2.5,2.75

In [74]:
df10 = df10[df10.fare_amount>=0]
df10 = df10[df10.extra>=0]
df10 = df10[df10.mta_tax>=0]
df10 = df10[df10.tip_amount>=0]
df10 = df10[df10.tolls_amount>=0]
df10 = df10[df10.improvement_surcharge>=0]
df10 = df10[df10.total_amount>=0]
df10.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,7149054.0,1.653009,0.476013,1.0,1.00,2.00,2.00,2.00
passenger_count,7149054.0,1.538995,1.178860,0.0,1.00,1.00,2.00,9.00
trip_distance,7149054.0,2.979734,3.894422,0.0,0.99,1.63,3.01,307.95
RatecodeID,7149054.0,1.061932,0.838488,1.0,1.00,1.00,1.00,99.00
PULocationID,7149054.0,164.074114,65.633727,1.0,132.00,162.00,233.00,265.00
DOLocationID,7149054.0,162.156537,69.881434,1.0,113.00,162.00,234.00,265.00
payment_type,7149054.0,1.277770,0.467051,1.0,1.00,1.00,2.00,4.00
fare_amount,7149054.0,13.567639,12.231248,0.0,6.50,9.50,15.00,2154.50
extra,7149054.0,1.145820,1.266351,0.0,0.00,0.50,2.50,62.50
mta_tax,7149054.0,0.496927,0.045189,0.0,0.50,0.50,0.50,60.00
tip_amount,7149054.0,2.301584,2.885345,0.0,0.00,1.96,3.00,600.00
tolls_amount,7149054.0,0.388979,1.918796,0.0,0.00,0.00,0.00,912.50
improvement_surcharge,7149054.0,0.299823,0.007287,0.0,0.30,0.30,0.30,0.30
total_amount,7149054.0,19.714227,15.082861,0.0,11.75,15.30,21.30,2155.80
congestion_surcharge,7149054.0,2.312080,0.659149,0.0,2.50,2.50,2.50,2.75

In [75]:
df11.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-11-01 00:30:41,2019-11-01 00:32:25,1.0,0.0,1.0,N,145,145,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1.0,2019-11-01 00:34:01,2019-11-01 00:34:09,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,2.0,2019-11-01 00:41:59,2019-11-01 00:42:23,1.0,0.0,1.0,N,193,193,1.0,2.5,0.5,0.5,0.95,0.0,0.3,4.75,0.0
3,2.0,2019-11-01 00:02:39,2019-11-01 00:02:51,1.0,0.0,1.0,N,193,193,1.0,2.5,0.5,0.5,0.95,0.0,0.3,4.75,0.0
4,2.0,2019-11-01 00:18:30,2019-11-01 00:18:39,2.0,0.0,1.0,N,226,226,2.0,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0

In [76]:

df11.isnull().sum()

VendorID                 47491
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          47491
trip_distance                0
RatecodeID               47491
store_and_fwd_flag       47491
PULocationID                 0
DOLocationID                 0
payment_type             47491
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         2
dtype: int64

In [77]:
df11.dropna(subset = ["VendorID"],inplace= True)
df11.dropna(subset = ["passenger_count"],inplace= True)
df11.dropna(subset = ["RatecodeID"],inplace= True)
df11.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df11.dropna(subset = ["payment_type"],inplace= True)
df11.dropna(subset = ["congestion_surcharge"],inplace= True)
df11.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [78]:
df11.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6830618.0,1.659567,0.473855,1.00,1.00,2.00,2.00,2.00
passenger_count,6830618.0,1.541835,1.176668,0.00,1.00,1.00,2.00,9.00
trip_distance,6830618.0,2.906351,3.820487,-21.30,0.97,1.60,2.96,701.30
RatecodeID,6830618.0,1.060229,0.812700,1.00,1.00,1.00,1.00,99.00
PULocationID,6830618.0,164.218540,65.708217,1.00,125.00,162.00,234.00,265.00
DOLocationID,6830618.0,162.286919,69.918026,1.00,113.00,162.00,234.00,265.00
payment_type,6830618.0,1.281971,0.478808,1.00,1.00,1.00,2.00,5.00
fare_amount,6830618.0,13.235326,12.116153,-400.00,6.50,9.50,15.00,2253.50
extra,6830618.0,1.098978,1.254547,-5.00,0.00,0.50,2.50,87.56
mta_tax,6830618.0,0.494155,0.065109,-0.50,0.50,0.50,0.50,3.80
tip_amount,6830618.0,2.266496,2.836214,-45.00,0.00,1.96,3.00,500.00
tolls_amount,6830618.0,0.365261,1.788771,-24.74,0.00,0.00,0.00,910.50
improvement_surcharge,6830618.0,0.298165,0.032262,-0.30,0.30,0.30,0.30,0.30
total_amount,6830618.0,19.278894,14.923085,-400.30,11.30,14.80,20.80,2254.30
congestion_surcharge,6830618.0,2.302334,0.694642,-2.50,2.50,2.50,2.50,2.75

In [86]:
df11 = df11[df11.trip_distance>=0]
df11 = df11[df11.fare_amount>=0]
df11 = df11[df11.extra>=0]
df11 = df11[df11.mta_tax>=0]
df11 = df11[df11.tip_amount>=0]
df11 = df11[df11.tolls_amount>=0]
df11 = df11[df11.improvement_surcharge>=0]
df11 = df11[df11.total_amount>=0]
df11.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6811841.0,1.658629,0.474170,1.0,1.00,2.00,2.00,2.00
passenger_count,6811841.0,1.542002,1.177027,0.0,1.00,1.00,2.00,9.00
trip_distance,6811841.0,2.909911,3.821116,0.0,0.97,1.60,2.97,701.30
RatecodeID,6811841.0,1.059884,0.813047,1.0,1.00,1.00,1.00,99.00
PULocationID,6811841.0,164.225568,65.707364,1.0,125.00,162.00,234.00,265.00
DOLocationID,6811841.0,162.289835,69.918348,1.0,113.00,162.00,234.00,265.00
payment_type,6811841.0,1.276525,0.466418,1.0,1.00,1.00,2.00,5.00
fare_amount,6811841.0,13.305899,12.023327,0.0,6.50,9.50,15.00,2253.50
extra,6811841.0,1.102977,1.253590,0.0,0.00,0.50,2.50,87.56
mta_tax,6811841.0,0.496857,0.039677,0.0,0.50,0.50,0.50,3.80
tip_amount,6811841.0,2.272734,2.837324,0.0,0.00,1.96,3.00,500.00
tolls_amount,6811841.0,0.366741,1.789773,0.0,0.00,0.00,0.00,910.50
improvement_surcharge,6811841.0,0.299812,0.007516,0.0,0.30,0.30,0.30,0.30
total_amount,6811841.0,19.375226,14.800730,0.0,11.30,14.80,20.80,2254.30
congestion_surcharge,6811841.0,2.314182,0.655753,0.0,2.50,2.50,2.50,2.75

In [80]:
df12.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-12-01 00:26:58,2019-12-01 00:41:45,1.0,4.2,1.0,N,142,116,2.0,14.5,3.0,0.5,0.0,0.0,0.3,18.3,2.5
1,1.0,2019-12-01 00:12:08,2019-12-01 00:12:14,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
2,1.0,2019-12-01 00:25:53,2019-12-01 00:26:04,1.0,0.0,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1.0,2019-12-01 00:12:03,2019-12-01 00:33:19,2.0,9.4,1.0,N,138,25,1.0,28.5,0.5,0.5,10.0,0.0,0.3,39.8,0.0
4,1.0,2019-12-01 00:05:27,2019-12-01 00:16:32,2.0,1.6,1.0,N,161,237,2.0,9.0,3.0,0.5,0.0,0.0,0.3,12.8,2.5

In [81]:
df12.isnull().sum()

VendorID                 51018
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          51018
trip_distance                0
RatecodeID               51018
store_and_fwd_flag       51018
PULocationID                 0
DOLocationID                 0
payment_type             51018
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [82]:
df12.dropna(subset = ["VendorID"],inplace= True)
df12.dropna(subset = ["passenger_count"],inplace= True)
df12.dropna(subset = ["RatecodeID"],inplace= True)
df12.dropna(subset = ["store_and_fwd_flag"],inplace= True)
df12.dropna(subset = ["payment_type"],inplace= True)

In [83]:
df12.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [85]:
df12 = df12[df12.trip_distance>=0]
df12 = df12[df12.fare_amount>=0]
df12 = df12[df12.extra>=0]
df12 = df12[df12.mta_tax>=0]
df12 = df12[df12.tip_amount>=0]
df12 = df12[df12.tolls_amount>=0]
df12 = df12[df12.improvement_surcharge>=0]
df12 = df12[df12.total_amount>=0]
df12.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,6824453.0,1.665439,0.471837,1.0,1.00,2.00,2.0,2.00
passenger_count,6824453.0,1.551025,1.174692,0.0,1.00,1.00,2.0,9.00
trip_distance,6824453.0,2.950667,8.290815,0.0,0.96,1.60,3.0,19130.18
RatecodeID,6824453.0,1.065401,0.931662,1.0,1.00,1.00,1.0,99.00
PULocationID,6824453.0,163.864902,65.950121,1.0,125.00,162.00,234.0,265.00
DOLocationID,6824453.0,161.730165,70.251298,1.0,112.00,162.00,234.0,265.00
payment_type,6824453.0,1.292938,0.474372,1.0,1.00,1.00,2.0,5.00
fare_amount,6824453.0,13.526342,153.044778,0.0,6.50,9.50,15.0,398468.38
extra,6824453.0,1.100255,1.252581,0.0,0.00,0.50,2.5,90.06
mta_tax,6824453.0,0.496530,0.041803,0.0,0.50,0.50,0.5,3.30
tip_amount,6824453.0,2.267752,2.877318,0.0,0.00,1.95,3.0,404.44
tolls_amount,6824453.0,0.379469,1.699000,0.0,0.00,0.00,0.0,612.66
improvement_surcharge,6824453.0,0.299797,0.007801,0.0,0.30,0.30,0.3,0.30
total_amount,6824453.0,19.611912,153.294312,0.0,11.30,14.80,21.3,398471.20
congestion_surcharge,6824453.0,2.305292,0.669969,0.0,2.50,2.50,2.5,3.00

In [87]:
df = pd.concat([df1,df2,df3,df4,df5,df5,df6,df7,df8,df9,df10,df11,df12])